{% set dmrClusterName="cluster-test" %}
{% set authenticationBasicPassword = "default" %}
{% set localNodeName = "29315f44a7eb" %}
{% set remoteNodeName = "solace01" %}
{% set remoteAddress = "23.100.94.197" %}
